# Project exclude paths
/SegundoProyecto/out/
/PrimerProyecto/out/
/Metodos/out/
/OperadoresLogicos/out/
/EstructurasDeControl/out/
/Refractorizacion/out/
/Colecciones/out/
/POOJava/out/
/POOAvanzado/out/